[Unit]
Description=Kawad Collector
After=network.target

[Service]
Type=simple
# adjust the locations to your environment as necessary
ExecStart=/usr/local/kawad run --config /etc/kawad/config.json
MemoryMax=1G
Restart=always

[Install]
WantedBy=multi-user.target

